.App {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;
}
.chars-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/*
.card {
  background-color: coral;
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
}

.card-img img {
  height: 100px;
  width: 100px;
}
*/
