.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.chars-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

@media (max-width: 750px) {
  .chars-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .chars-grid {
    display: flex;
    flex-direction: column;
  }
}

.search {
  background-color: black;
  margin-bottom: 1rem;
}

input {
  display: block;
  background-color: grey;
  color: aliceblue;
  height: 32px;
  padding: 5px 10px;
  text-align: center;
}

input:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: aliceblue;
}
